/* 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: '노토';
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: '노토';
  src: url('../font/NotoSansKR-VariableFont_wght.ttf');
}

html {
  scroll-behavior: smooth;
}

.container {
  overflow: auto;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  width: 1920px;
  height: 100vh;
  scroll-snap-align: start;
}

/* section1 */
#section1 {
  position: relative;
}

/* 헤더 */
.headerwrap {
  position: absolute;
  left: 0;
  top: 0;
}

header {
  width: calc(1920px - 60px);
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header ul {
  display: flex;
  justify-content: space-between;
}


.nav1 {
  gap: 50px;
  font-size: 0.9rem;
  font-weight: bold;
}

.nav1 li a img {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.nav1 li i {
  margin-right: 6px;
  font-size: 1rem;
}

.nav2 {
  gap: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.nav2 li i {
  margin: 0 6px;
}

.nav2 li a i {
  margin: 0 6px;
}

.nav2 li:nth-child(3) {
  color: #f46b34;
}

/* 네비 */
#nav {
  width: calc(1920px - 60px);
  color: white;
}

nav>ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(192, 192, 192, 0.3);
  position: relative;
  z-index: 999;
}

nav>ul>li {
  width: 200px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(192, 192, 192, 0.3);
}


/* 네비 너비 */
nav>ul>li:first-child {
  width: 350px;
}

nav>ul>li:first-child a {
  height: 80px;
}

nav>ul>li:first-child a img {
  margin-top: 5px;
}

nav>ul>li:last-child a {
  border-left: 1px solid rgba(192, 192, 192, 0.3);
}

nav>ul>li:nth-child(8),
nav>ul>li:nth-child(9) {
  width: calc(350px / 2);
}

/* 메뉴 호버시 */
.headerwrap:hover header,
.headerwrap:hover #nav {
  background-color: white;
  color: gray;
}

nav>ul>li:nth-child(n+2):nth-child(-n+7):hover {
  /* 이용안내~ 고객의소리까지만 */
  color: #234bd7;
  border-bottom: 2px solid #234bd7;
}

nav>ul>li:last-child:hover {
  background-color: #f46b34;
  color: white;
}

/* 서브메뉴 */
.nav_s {
  display: none;
  background-color: white;
  color: gray;
  height: 350px;
  font-size: 1rem;
  line-height: 5vh;
}

#aquaToday1 {
  color: black;
}

#aquaToday1>h1 {
  padding-top: 3vh;
}

#aquaToday1>h1>span {
  font-size: 1rem;
  font-weight: 300;
}

#aquaToday1>i {
  font-size: 2rem;
}

#navimg {
  position: absolute;
  right: 0;
  display: none;
}

/* 서브메뉴 호버시 */
.nav_s>li:hover {
  color: #234bd7;
}

/* 메인비디오 */

#section1 video {
  width: 1920px;
  height: 100vh;
  object-fit: cover;
}

/* 페이지 전체 테두리 */
#section1>.border {
  display: flex;
  width: 1920px;
  height: calc(100vh - 132px);
  position: absolute;
  top: 130px;
  left: 0;
}

#section1>.border>div {
  width: calc(1920px / 5);
  height: calc(100vh - 132px);
  border-left: 1px solid rgba(192, 192, 192, 0.3);
}



#section1>.border>div:first-child {
  border: none;
}

/* 메인텍스트 */

.maintext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 850px;
  z-index: 99;
}

.maintext h1:nth-child(1) {
  font-size: 1.9rem;
  animation-delay: .5s;
}

.maintext h1:nth-child(2) {
  font-size: 3rem;
  margin-top: 3px;
  animation-delay: .8s;
}

.maintext h1:nth-child(3) {
  font-size: 1.2rem;
  margin-top: 30px;
  position: relative;
  animation-delay: 1.2s;
}


.maintext h1:nth-child(3)::before {
  position: absolute;
  content: '';
  width: 180px;
  height: 6px;
  background-color: #f46b34;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  z-index: -1;
  animation: scale .5s linear;
  animation-delay: 1.2s;
}


@keyframes scale {
  0% {
    width: 0;
  }

  100% {
    width: 180px;
    opacity: 1;
  }
}




/* section2 */
#section2 {
  background: url('../img/ilsan_main_section_bg02.jpg') no-repeat;
  position: relative;
}

.bgtext {
  background: url('../img/ilsan_main_section2_subbg.jpg') no-repeat;
  height: 93vh;
  width: 769px;
  position: absolute;
  bottom: 0;
}

.bgtext>* {
  position: absolute;
  left: 35%;

}

.bgtext>h1 {
  top: 5%;
  color: white;
  font-size: 5.5rem;
  z-index: 99;
}

.bgtext>p {
  top: 20%;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  z-index: 99;
}

.bgtext>p>span {
  font-weight: bold;
}

.programbox {
  display: flex;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

/* 프로그램1~3 */
.pro1,
.pro2,
.pro3 {
  width: 640px;
  height: 440px;
  position: relative;
  transition: .5s;
}

.pro2 {
  left: -300px;
  animation-delay: .1s;
}

.pro3 {
  left: -600px;
  animation-delay: .2s;
}

.pro1 .img::after,
.pro2 .img::after,
.pro3 .img::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 440px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 45%);
  left: 0;
  top: 0;
}

.pro1>h1,
.pro2>h1,
.pro3>h1 {
  position: absolute;
  bottom: 15%;
  left: 55%;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
}

.pro1 .img,
.pro2 .img,
.pro3 .img {
  position: absolute;
  width: 320px;
  height: 440px;
  right: 0;
  transition: .5s;
  overflow: hidden;
}

.pro1 .img>img,
.pro2 .img>img,
.pro3 .img>img {
  position: absolute;
  left: -130px;
  height: 440px;

}

.pro1:hover .img::after,
.pro2:hover .img::after,
.pro3:hover .img::after {
  background: linear-gradient(0deg, rgba(33, 55, 248, 0.5) 0%, rgba(33, 55, 248, 0.5) 45%);
}

.pro1:hover .img,
.pro2:hover .img,
.pro3:hover .img {
  transform: scaleX(2.063);
  transform-origin: right;
}

.pro1:hover .img>img,
.pro2:hover .img>img,
.pro3:hover .img>img {
  width: 100%;
  left: 0;
  height: 440px;
}

.pro1:hover h1,
.pro2:hover h1,
.pro3:hover h1 {
  display: none;
}

.pro1_s,
.pro2_s,
.pro3_s {
  position: absolute;
  color: white;
  width: 100%;
  height: 440px;
  padding: 50px;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;

}

.pro1_s>h2,
.pro2_s>h2,
.pro3_s>h2 {
  font-size: 35px;
  margin-bottom: 25px;
}

.pro1_s>p,
.pro2_s>p,
.pro3_s>p {
  font-size: 18px;
  margin-bottom: 100px;
}

.pro1_s>div,
.pro2_s>div,
.pro3_s>div {
  width: 160px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  cursor: pointer;
}

.pro1_s>div:hover,
.pro2_s>div:hover,
.pro3_s>div:hover {
  background-color: white;
  border: none;
  color: #234bd7;

}

.pro1:hover .pro1_s,
.pro2:hover .pro2_s,
.pro3:hover .pro3_s {
  display: block;
}

/* 페이지 전체 테두리 */
#section2>.border,
#section3>.border,
#section4>.border,
#section5>.border,
#section6>.border {
  display: flex;
  width: 1920px;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 0;
}

#section2>.border>div,
#section3>.border>div,
#section4>.border>div,
#section5>.border>div,
#section6>.border>div {
  width: calc(1920px / 5);
  height: calc(100vh - 80px);
  border-left: 1px solid rgba(192, 192, 192, 0.3);
}

#section5>.border>div {
  z-index: 9;
}

#section2>.border>div:first-child,
#section3>.border>div:first-child,
#section4>.border>div:first-child,
#section5>.border>div:first-child,
#section6>.border>div:first-child {
  border: none;
}



/* section3 */
#section3 {
  background: url('../img/ilsan_main_section_bg03.jpg') no-repeat;
  position: relative;
}

#section3>h1 {
  color: white;
  position: absolute;
  top: 140px;
  right: 280px;
  font-size: 92px;
}

#section3>p {
  color: white;
  position: absolute;
  top: 270px;
  right: 280px;
  font-size: 20px;
}

#section3>p>span {
  font-weight: bold;
}

/* inforbox 운영시간 / 이용요금 */
.inforbox {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

}

.inforbox>div {
  width: 428px;
  height: 428px;
  padding: 40px;
  font-size: 18px;
}

/* 운영시간 */
.infor1 {
  background-color: white;
  position: relative;
  animation-delay: .2s;
}

.infor1>h2 {
  margin-bottom: 30px;
}

.infor1>p {
  margin-top: 10px;
  font-weight: 500;
}

.infor1>p>span {
  display: inline-block;
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
}

.infor1>p:nth-child(4) {
  margin-top: 30px;
}

.infor1>div {
  width: 160px;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #3366ff;
  border: 1px solid rgba(51, 102, 255, 0.4);
  text-align: center;
  margin: 70px auto;
  transition: .5s;
  cursor: pointer;
}

.infor1>div>p {
  line-height: 50px;
}

.infor1>div:hover {
  color: white;
  background-color: #3366ff;
  border: none;
}

/* 이용요금 */
.infor2 {
  background-color: #3366ff;
  color: white;
  animation-delay: .3s;
}

.infor2>h2 {
  margin-bottom: 30px;
}

.infor2>p {
  margin-top: 10px;
  font-weight: 500;
}

.infor2>p>span {
  display: inline-block;
  text-align: left;
  margin-left: 150px;
  font-size: 22px;
  font-weight: bold;
}

.infor2>div {
  display: inline-block;
  width: 160px;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  margin: 0 auto;
  margin-top: 190px;
  transition: .5s;
  cursor: pointer;

}

.infor2>div:last-child {
  background-color: #f46b34;
  margin-left: 20px;
}

.infor2>div>p {
  line-height: 50px;
}

.infor2>div:nth-child(3):hover {
  color: #3366ff;
  background-color: white;
  border: none;
}


/* section4 */
#section4 {
  background: url('../img/ilsan_main_section_bg04.jpg') no-repeat;
  position: relative;
}

#section4>.eventTextbox {
  position: absolute;
  top: 120px;
  left: 280px;
  color: white;
  font-size: 20px;
}

#section4>.eventTextbox>h1 {
  font-size: 92px;
  margin-bottom: 20px;
}

#section4>.eventTextbox>p>span {
  font-weight: bold;
}

.eventbox {
  width: 1153px;
  height: 384px;

  display: flex;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}

.eventbox>div {
  width: calc(1153px / 3);
  height: 384px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  transition: .5s;
}

.event1 {
  animation-delay: .2s;
}

.event2 {
  animation-delay: .3s;
}

.event3 {
  animation-delay: .4s;
}

.eventbox>div>img {
  opacity: .5;
  margin: 50px 0;
  transition: .5s;
}

.eventbox>div>h1 {
  margin-bottom: 25px;
  font-size: 28px;
}

.eventbox>div>div {
  width: 160px;
  height: 50px;
  margin: 30px auto;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  line-height: 50px;
  display: none;
  transition: .5s;
  cursor: pointer;
}

.eventbox>div>div:hover {
  color: #3366ff;
  background-color: white;
  border: none;
}

.eventbox>div:hover {
  background-color: #3366ff;
}

.eventbox>div:hover div {
  display: block;
}

.eventbox>div:hover img {
  opacity: 1;
  margin: 20px 0;
}



/* section5 */
#section5 {
  background: url('../img/ilsan_main_section_bg05.jpg') no-repeat;
  position: relative;
}

#section5>.groupTextbox {
  position: absolute;
  height: 93vh;
  width: 769px;
  color: white;
  background-color: #1f828b;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 50px;
  z-index: 1;
}

#section5>.groupTextbox>h1 {
  font-size: 92px;
  margin-bottom: 20px;
  margin-left: 160px;
}

#section5>.groupTextbox>p {
  margin-left: 60px;
}

#section5>.groupTextbox>p>span {
  font-weight: bold;
}

.groupbox {
  width: 1153px;
  height: 384px;
  display: flex;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  z-index: 999;
}

.groupbox>div {
  width: calc(1153px / 3);
  height: 384px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  transition: .5s;
}

.group1 {
  animation-delay: .2s;
}

.group2 {
  animation-delay: .3s;
}

.group3 {
  animation-delay: .4s;
}

.groupbox>div>img {
  opacity: .5;
  margin: 40px 0;
  transition: .5s;
}

.groupbox>div>h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.groupbox>div>div {
  width: 160px;
  height: 50px;
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  line-height: 50px;
  display: none;
  transition: .5s;
  cursor: pointer;
}

.groupbox>div>div:hover {
  color: #3366ff;
  background-color: white;
  border: none;
}

.groupbox>div:hover {
  background-color: #3366ff;
}

.groupbox>div:hover div {
  display: block;
}

.groupbox>div:hover img {
  opacity: 1;
  margin: 20px 0;
}


/* section6 */
#section6 {
  background: url('../img/ilsan_main_section_bg06.jpg') no-repeat;
  position: relative;
}

#section6>.commuTextbox {
  position: absolute;
  top: 120px;
  left: 280px;
  color: white;
  font-size: 20px;
}

#section6>.commuTextbox>h1 {
  font-size: 92px;
  margin-bottom: 20px;
}

#section6>.commuTextbox>p>span {
  font-weight: bold;
}

.commubox {
  width: 1356px;
  height: 312px;
  display: flex;
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.commubox>div {
  width: 312px;
  height: 312px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(192, 192, 192, 0.3);
  padding: 40px 30px;
  transition: .5s;
  cursor: pointer;
}

.commu1 {
  animation-delay: 0.2s;
}

.commu2 {
  animation-delay: 0.3s;
}

.commu3 {
  animation-delay: 0.4s;
}

.commu4 {
  animation-delay: 0.5s;
}

.commubox>div:hover {
  background-color: #234bd7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border: none;
}

.commubox>div>p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.commubox>.commu1>h1,
.commubox>.commu2>h1,
.commubox>.commu4>h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 90px;
}

.commubox>.commu3>h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 57px;
}

.commubox>div>h2 {
  font-size: 18px;
}


/* 푸터 */

footer {
  height: 50vh;
  scroll-snap-align: end;
  background-color: #1a1a1a;
  color: #999;
  font-size: 13px;
}

.footer_n {
  display: flex;
  width: 1356px;
  margin: auto;
  font-size: 18px;
  gap: 120px;
  padding-top: 40px;
  line-height: 40px;
  color: white;
  justify-content: space-between;
}

.footer_s {
  color: #999;
  font-size: 16px;
}

.footerbox {
  display: flex;
  width: 1356px;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
  padding-top: 30px;
  border-top: 2px solid #262626;
}

.f_box1 ul {
  display: flex;
  height: 30px;
  gap: 30px;
}

.f_box_s1 {
  font-size: 13px;
  color: white;

}

.f_box_s1>li {
  position: relative;
  cursor: pointer;
}

.f_box_s1>li:nth-child(2) {
  color: #f60;
}

.f_box_s1>li:not(:first-child)::after {
  content: '';
  position: absolute;
  left: -15px;
  top: 8px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
}


/* *********픽스메뉴*********** */

/* 오른쪽 사이드메뉴 */
aside {
  width: 60px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid rgba(192, 192, 192, 0.3);
  display: flex;
  align-items: center;
  color: white;
  transition: .5s;
  z-index: 99;
}

aside ul {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
}

aside ul li {
  cursor: pointer;
}

aside ul li:nth-child(n+2):nth-child(-n+5) {
  height: 6vh;
  line-height: 6vh;
}

aside ul li:nth-child(n+3):nth-child(-n+5) {
  border-bottom: 1px solid rgba(192, 192, 192, 0.3);
}

aside ul li:first-child {
  height: 50vh;
  writing-mode: vertical-lr;
  margin: 0 auto;
  font-size: 1.2rem;
}

aside ul li:last-child {
  margin-top: 20vh;
  transform: 1s all;
}

aside ul li:first-child>i {
  margin-bottom: 10px;
}

aside ul li:nth-child(2) {
  background-color: #f46b34;
}

aside ul li:nth-child(2)>img {
  width: 30px;
}

aside:hover {
  background-color: white;
  border: none;
}

aside:hover li:nth-child(1) {
  color: black;
}

aside:hover ul li:nth-child(3),
aside:hover ul li:nth-child(4),
aside:hover ul li:nth-child(5),
aside:hover ul li:nth-child(6) {
  color: gray;
}

aside ul li:nth-child(3):hover {
  background-color: red;
  color: white;
  border: none;
}

aside ul li:nth-child(4):hover {
  background-color: rgb(51, 116, 236);
  color: white;
  border: none;
}

aside ul li:nth-child(5):hover {
  background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
  color: white;
  border: none;
}

/* 왼쪽 사이드탭 */
.side-tab {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: white;
  font-size: 15px;
  z-index: 999;
  animation-delay: .5s;
}

.side-tab>ul>li {
  position: relative;
  cursor: pointer;
}

.side-tab>ul>li>a>span {
  display: inline-block;
  padding-left: 50px;
  visibility: hidden;
}

.side-tab>ul>li>a>div {
  position: absolute;
  content: '';
  width: 30px;
  height: 1px;
  top: 10px;
  left: 0px;
  background-color: silver;
  transition: .5s;
}

.side-tab>ul>li:hover span {
  visibility: visible;
  padding-left: 70px;
}

.side-tab>ul>li:hover div {
  width: 60px;
}

/* .on1 {
  visibility: visible;
  padding-left: 70px;
}

.on2 {
  width: 60px;
} */

/* 가운데 스크롤 */
.scroll-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.scroll-bar>div {
  width: 18px;
  height: 35px;
  border: 2px solid white;
  border-radius: 10px;
  margin: auto;
}

.scroll-bar>div>div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #eb4141;
  margin: 5px auto;
  animation: scroll-bar 1s infinite linear;
}

@keyframes scroll-bar {
  100% {
    opacity: 0;
    margin-top: 20px;
  }
}

.scroll-bar>p {
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 5px;
}